<div class="bg-gray-100 mt-16 w-4/5 mx-auto h-96">
    <section class="text-xl text-gray-600 font-bold p-4 mx-auto w-max">
        For Any Queries Please Feel Free To Contact Me
    </section>
    <section class="flex-col mx-auto w-full">
        <div class="flex-col w-full">
            <div class="flex-col justify-center mb-8 w-full">
                <div class="font-semibold text-center">Email</div>
                <div class="text-center">test@test.com</div>
            </div>
            <div class="flex-col justify-center mb-4 w-full">
                <div class="font-semibold text-center">Facebook</div>
                <div class="text-center">@Test123.ab.xy</div>
            </div>
            <div class="flex-col justify-center mb-4 w-full">
                <div class="font-semibold text-center">Instagram</div>
                <div class="text-center">@Test123</div>
            </div>
        </div>
    </section>
</div>