<div class="bg-gray-100 mt-16 w-4/5 mx-auto py-4">
    <div class="flex-col w-11/12 mx-auto">
        <img class="h-72 w-full bg-white mx-auto" src="./assets/images/fifth-image.jpg">
        <img class="h-72 w-full bg-white mx-auto" src="./assets/images/first-image.jpeg">
        <img class="h-72 w-full bg-white mx-auto" src="./assets/images/second-image.jpg">
        <img class="h-72 w-full bg-white mx-auto" src="./assets/images/fourth-image.jpeg">
        <img class="h-72 w-full bg-white mx-auto" src="./assets/images/sixth-image.jpeg">
    </div>
</div>