<div class="bg-gray-100 mt-16 w-4/5 mx-auto">
    <section class="h-96 flex my-2">
        <span class="w-1/2">
            <img src="./assets/images/second-image.jpg" class="first-image h-full w-full">
        </span>
        <span class="w-1/2 p-4">
            <div class="text-2xl font-bold">Yamuna Ghat</div>
            <div class="">Took a pic while travelling to calm my mind</div>
        </span>
    </section>
    <section class="h-96 flex my-2">
        <span class="w-1/2 p-4">
            <div class="text-2xl font-bold">Lorem Ipsum</div>
            <div class="">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Hic similique numquam nesciunt sed
                excepturi esse quas laborum accusamus velit sit, rem, fugiat dignissimos corporis sint illum
                reprehenderit quaerat earum! Ipsum.</div>
        </span>
        <span class="w-1/2">
            <img src="./assets/images/sixth-image.jpeg" class="first-image h-full w-full object-cover">
        </span>
    </section>
    <section class="h-96 flex mt-2">
        <span class="w-1/2">
            <img src="./assets/images/third-image.jpg" class="first-image h-full w-full">
        </span>
        <span class="w-1/2 p-4">
            <div class="text-2xl font-bold">Lrem Ipsum 2</div>
            <div class="">Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto nihil saepe labore hic impedit
                ut aperiam accusantium alias ipsa veritatis iste nisi assumenda, dolorum obcaecati odio similique
                recusandae autem quas!</div>
        </span>
    </section>
</div>